# app
NEXT_PUBLIC_APP_URL = "http://localhost:3000"
NEXT_PUBLIC_APP_NAME = "RemoveGeminiWatermark"

# theme
NEXT_PUBLIC_THEME = "default"

# appearance
NEXT_PUBLIC_APPEARANCE = "system"

# auth secret
# openssl rand -base64 32
AUTH_SECRET = "YmG7NJ+R9bmJaRQWlz4uarnDCx10NweXDyTccIzOK8E="

# database
DATABASE_PROVIDER = "postgresql"
DATABASE_URL = "postgresql://postgres.scnthkkpcrlsuorgaloa:Supabase123!@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres"
DB_SCHEMA = "wedding-crest"
DB_SCHEMA_FILE = "./src/config/db/schema.postgres.ts"
DB_MIGRATIONS_SCHEMA = "wedding-crest"
DB_MIGRATIONS_OUT = "./src/config/db/migrations_postgres"
DB_SINGLETON_ENABLED = "true"
DB_MAX_CONNECTIONS = "10"
